<footer>
  <div class="footer-info">
    <div class="h-card">
      <a class="border"></a>
      © {{ dateFormat "2006" now }} {{ with .Site.Copyright }}<a class="p-name u-url u-uid" href="https://grey.tertiusfamily.net">{{ . }}</a> (<span class="p-gender-identity"><span class="nonbinary">they/them</span></span>) | {{ end }}
      <img id="hcard-icon" class="u-logo" src="{{ absURL "images/robot.png" }}">
    </div>
  </div>
  <div style="display:flex">
    {{- range $index, $key := .Site.Params.Social -}}
    <a class="soc" href="{{ $key.url }}" rel="me" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
    <a class="border"></a>
    {{- end -}}
  </div>
</footer>

{{- if (isset .Site.Params "social") -}}
<script>
  feather.replace()
</script>
{{- end -}}
