<footer>
  <div class="footer-info">
    <a class="border"></a>
    © {{ dateFormat "2006" now }} {{ with .Site.Copyright }}<a class="h-card" href="https://grey.tertiusfamily.net">{{ . }}</a> | {{ end }}
  </div>
  <div style="display:flex">
    {{- range $index, $key := .Site.Params.Social -}}
    <a class="soc" href="{{ $key.url }}" rel="me" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
    <a class="border"></a>
    {{- end -}}
  </div>
</footer>

{{- if (isset .Site.Params "social") -}}
<script>
  feather.replace()
</script>
{{- end -}}
