<header>
  <div class="main">
    <img id="robot" class="u-photo" src="{{ absURL "images/robot.png" }}"/>
    <a id="titlegradient" href="{{ absURL "/" }}">{{ .Site.Title }}</a>
  </div>
  <nav>
    {{ range .Site.Menus.main }}
    {{- if (isset .Params "icon") -}}
    <a href="{{ .URL }}"><i data-feather="{{ .Params.Icon }}" alt="{{ .Name }}"></i></a>|
    {{- else -}}
    <a href="{{ .URL }}"> {{ .Name }}</a> |
    {{- end -}}
    {{ end }}
    {{ if eq .Site.Params.mode "toggle" -}}
    <span id="dark-mode-toggle" onclick="toggleTheme()"></span>
    <script src="{{ absURL "js/themetoggle.js" }}"></script>
    {{ end }}
  </nav>
</header>
